# Endereço do Servidor Backend
# Em produção, este deve ser o domínio oficial (ex: https://api.seudominio.com)
# Se estiver usando o mesmo domínio para frontend e backend, pode deixar em branco.
VITE_API_URL=http://localhost:3001
